<div class="wrapper">
    <div class="item">
        <span class="title">Meus Contatos</span>
        <span class="subtitle">Email:</span>
        <a href="mailto:david.raphael.gustavo@gmail.com">david.raphael.gustavo@gmail.com</a>
        <br>
        <span class="subtitle">WhatsApp:</span>
        <a href="https://wa.me/5511994844038" target="_blank">+55 11 99484-4038</a>
        <br>
        <span class="subtitle">Linkedin:</span>
        <a href="https://www.linkedin.com/in/david-raphael-gustavo-neves-1674361bb/" target="_blank">Me visite</a>
    </div>
</div>