<div class="wrapper">
    <div class="item">
        <span class="subtitle">Olá, meu nome é </span>
        <span class="title">David Raphael </span>
        <span style="margin-top: 30px;">Sou um desenvolvedor fullstack com 2 anos de experiência em projetos web,
            abrangendo tanto front-end
            quanto back-end. Formado em Desenvolvimento de Sistemas pela ETEC Jorge Street, adquiri uma base técnica
            sólida e atualizada em tecnologias como HTML, CSS, JavaScript, Node.js, e bancos de dados SQL e NoSQL. Ao
            longo da minha trajetória, venho aprimorando minhas habilidades em soluções escaláveis e otimizadas, sempre
            com foco na experiência do usuário e na eficiência dos sistemas. Estou em busca de uma oportunidade onde eu
            possa contribuir ativamente para a equipe e ampliar meu conhecimento em um ambiente dinâmico e
            colaborativo</span>
        <button routerLink="/about">Iniciar apresentação<mat-icon>chevron_right</mat-icon></button>
    </div>
</div>