// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$AboutMe-primary: mat.define-palette(mat.$indigo-palette);
$AboutMe-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$AboutMe-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$AboutMe-theme: mat.define-light-theme(
  (
    color: (
      primary: $AboutMe-primary,
      accent: $AboutMe-accent,
      warn: $AboutMe-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($AboutMe-theme);

@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

:root {
  --main-color: #7d7198;
  --main-color-transparent: #7d719869;
  --second-color: #000;
  --dark: #071013;
  --dark-transparent: #07101355;
  --ligth: #ffffff;
}

.title {
  font-size: clamp(35px, 3em, 65px) !important;
  color: var(--second-color);
  font-weight: 700;
  word-break: break-word;
  font-family: "Yeseva One", serif;
}

.subtitle {
  font-size: clamp(25px, 4em, 30px) !important;
  color: var(--second-color);
  font-weight: 500;
}

a {
  text-decoration: underline;
  font-weight: bold;
  color: var(--second-color);
  overflow-wrap: anywhere;
  white-space: normal;
}

ul {
  margin-top: 0px;
}

* {
  font-size: 1.1rem;
  letter-spacing: 3px;
  font-family: Arial;
  line-height: 1.65;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#arrow_down {
  width: 100%;
  z-index: 11111111111;
  position: fixed;
  bottom: -20px;
  height: auto;
  font-size: 90px;
  color: var(--main-color-transparent);
  text-align: center;
  cursor: pointer;
  transition: all 1s;
  display: none;
}

#arrow_down:hover,
#arrow_up:hover {
  transform: scale(1.2);
  color: var(--main-color);
}

#arrow_up {
  display: none;
  width: 100%;
  z-index: 11111111111;
  position: fixed;
  top: -20px;
  height: auto;
  font-size: 90px;
  color: var(--main-color-transparent);
  text-align: center;
  cursor: pointer;
  transition: all 1s;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
