.container {
  width: calc(100vw - 20px);
  height: calc(100dvh - 70px);
  position: fixed;
  right: 0px;
  top: 0px;
  padding: 10px;
}

.back {
  width: 100vw;
  height: 100dvh;
  position: absolute;
  top: 0px;
  left: 0px;
}

@media only screen and (max-width: 950px) {
  .container {
    width: calc(100vw - 20px);
    height: calc(100dvh - 100px);
  }
}
