<div class="background"></div>
<div class="wrapper">
    <div class="wrapper_item">
        <span class="title">Eu e o aprendizado</span>
        <span class="subtitle">
            Habilidades e competências
        </span>
        <span>
            Tenho facilidade em aprender linguagens novas<br><br>
            Consigo lidar com problemas facilmente<br><br>
            Prezo pela pontualidade de entregas<br><br>
            Focado em meu objetivo, planejo ser o melhor profissional possível
        </span>
    </div>
    <div class="wrapper_item">
        <span class="subtitle">
            Principais linguagens
        </span>
        <div class="list">
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Java</li>
                <li>JavaScript</li>
                <li>C#</li>
                <li>TypeScript</li>
                <li>SQL</li>
            </ul>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Java</li>
                <li>JavaScript</li>
                <li>C#</li>
                <li>TypeScript</li>
                <li>SQL</li>
            </ul>
        </div>
    </div>
</div>