<div class="wrapper">
    <div class="item">
        <span class="title">Eu e o aprendizado</span>
        <span class="subtitle">
            Habilidades e competências
        </span>
        <div class="list">
            <ul>
                <li>Trabalho bem em equipe, colaborando para alcançar objetivos comuns</li>
                <li>Possuo habilidades de comunicação, facilitando a troca de ideias</li>
                <li>Tenho adaptabilidade para lidar com mudanças no ambiente de trabalho</li>
                <li>Possuo habilidades analíticas para resolver problemas complexos</li>
                <li>Proativo na busca por soluções e melhorias constantes</li>
                <li>Organizado e eficiente na gestão de tempo e tarefas</li>
            </ul>
            <ul>
                <li>Possuo conhecimento sólido em metodologias ágeis</li>
                <li>Capaz de trabalhar sob pressão e cumprir prazos apertados</li>
                <li>Comprometido com a qualidade e excelência em todas as entregas</li>
                <li>Empenhado em aprender e utilizar novas tecnologias e ferramentas</li>
            </ul>
        </div>
        <span class="subtitle">
            Principais conhecimentos
        </span>
        <div class="list">
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Java</li>
                <li>JavaScript</li>
                <li>C#</li>
                <li>TypeScript</li>
                <li>SQL</li>
            </ul>
            <ul>
                <li>Angular</li>
                <li>Rest API</li>
                <li>Flutter</li>
                <li>.NET</li>
                <li>PHP</li>
                <li>POSTGRESQL</li>
                <li>Node.js</li>
            </ul>
        </div>
    </div>
</div>