.header{
    display: flex;
    flex-direction: column;
    width: 325px;
    height: 100vh;
    padding: 25px;
    color: var(--ligth);
    background-color: var(--main-color);
    position: fixed;
    top: 0px;
    left: 0px;
    .title{
        margin-top: 30px;
    }
}

.cellMenu {
    display: none !important;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 5 !important;
    font-size: 40px;
    height: auto !important;
    width: auto !important;
    color: var(--ligth);
    cursor: pointer;
  }

.Cell{
    width: 100%;
    height: 100vh;
    background-color: var(--dark-transparent);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    backdrop-filter: blur(5px);
}

.routers{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    span{
        cursor: pointer;
        transition: all 1s;
    }
    span:hover{
        transform: scale(1.3);
    }
}

@media only screen and (max-width: 950px) {
    .PC{
        display: none !important;
    }

    .Cell{
        display: flex !important;
    }

    .cellMenu{
        display: block !important;
    }
}