<div class="header PC">
    <span class="title">Olá!</span>
    <span class="subtitle">Eu sou o David</span>
    <div class="routers">
        <span (click)="viewMenu = false" routerLink="/">Início</span>
        <span (click)="viewMenu = false" routerLink="/about">Sobre mim</span>
        <span (click)="viewMenu = false" routerLink="/ido">O que faço</span>
        <span (click)="viewMenu = false" routerLink="/curriculum">Currículo</span>
        <span (click)="viewMenu = false" routerLink="/knowledge">Contato</span>
    </div>
</div>

<mat-icon class="cellMenu" id="menuMatIcon" *ngIf="!viewMenu" (click)="viewMenu = true">menu</mat-icon>
<mat-icon class="cellMenu" *ngIf="viewMenu" (click)="viewMenu = false">close</mat-icon>
<div class="Cell" *ngIf="viewMenu">
    <div class="header">
        <span class="title">Olá!</span>
        <span class="subtitle">Eu sou o David</span>
        <div class="routers">
            <span (click)="viewMenu = false" routerLink="/">Início</span>
            <span (click)="viewMenu = false" routerLink="/about">Sobre mim</span>
            <span (click)="viewMenu = false" routerLink="/ido">O que faço</span>
            <span (click)="viewMenu = false" routerLink="/curriculum">Currículo</span>
            <span (click)="viewMenu = false" routerLink="/knowledge">Contato</span>
        </div>
    </div>
</div>

<mat-icon id="arrow_down" *ngIf="pathSelect == '/about'" routerLink="/ido">keyboard_arrow_down</mat-icon>
<mat-icon id="arrow_down" *ngIf="pathSelect == '/ido'" routerLink="/curriculum">keyboard_arrow_down</mat-icon>
<mat-icon id="arrow_down" *ngIf="pathSelect == '/curriculum'" routerLink="/knowledge">keyboard_arrow_down</mat-icon>