<div class="wrapper">
    <div class="item">
        <span class="title">Sobre mim</span>
        <span class="subtitle">
            Formações
        </span>
        <span>
            Formado em <b>ADS - Análise e Desenvolvimento de Sistemas - </b> pela <a target="_blank"
                href="https://www.jorgestreet.com.br/">ETEC Jorge Street </a><br><br>
            Cursando o ensino superior em <b>ADS</b> na <a target="_blank"
                href="https://www.fatecsaocaetano.edu.br/">FATEC São Caetano do Sul Antonio Russo</a> com data de
            término em 2024
        </span>
        <br>
        <span class="subtitle">
            Experiências
        </span>
        <br>
        <span>
            Tenho 2 anos de experiência como programador full stack, atuando com Angular, C#, JavaScript e outras
            linguagens <br> <br>
            Participei de eventos científicos, conquistando medalhas <br> <br>
            Comecei a programar na ETEC e desde já virou um Hobby fazer sites e sistemas
        </span>
    </div>
</div>